.result {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid;
    border-collapse: collapse;
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 10px;
    background-color: #fff;
}

input {
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #1e1e1e;
}
